/* global settings */

* {
  box-sizing: border-box;
}

.app-wrapper {
  font-size: 10px;
  display: grid;
  grid-template:
    "h h" 60px
    "n c" 1fr
    / 2fr 10fr;
  grid-gap: 10px 10px;
}

.app-wrapper-content {
  grid-area: c;
}